# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for more information:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
# https://containers.dev/guide/dependabot

version: 2
updates:
 - package-ecosystem: "devcontainers"
   directory: "/"
   schedule:
     interval: monthly

 - package-ecosystem: "npm"
   directory: "/"
   schedule:
     interval: monthly
   reviewers:
     - "yamaneyuta"
   # open-pull-requests-limit: 10
   ignore:
     - dependency-name: "*"
       update-types: [ "version-update:semver-major" ]

 - package-ecosystem: "composer"
   directory: "/includes"
   schedule:
     interval: monthly
   reviewers:
     - "yamaneyuta"
   ignore:
     - dependency-name: "*"
       update-types: [ "version-update:semver-major" ]
