<?xml version="1.0"?>
<phpunit
	bootstrap="phpunit/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>

	<!-- includes/classes以下のphpファイルのみを対象とする -->
	<filter>
		<whitelist>
			<directory suffix=".php">./includes/classes</directory>
			<!-- ただし、classes/Hooks以下は対象外とする(E2Eで確認) -->
			<exclude>
				<directory suffix=".php">./includes/classes/Hooks</directory>
			</exclude>
		</whitelist>
	</filter>

	<testsuites>
		<testsuite name="testing">
			<directory suffix="-test.php">./phpunit/</directory>
		</testsuite>
	</testsuites>
</phpunit>
