<?xml version="1.0"?>
<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>

	<php>
		<env name="APP_ENV" value="testing" force="true"/>
	</php>

	<!-- includes/classes以下のphpファイルのみを対象とする -->
	<filter>
		<whitelist>
			<directory suffix=".php">./includes/classes</directory>
		</whitelist>
		<exclude>
			<directory>./tests/vendor</directory>
		</exclude>
	</filter>

	<testsuites>
		<testsuite name="testing">
			<directory suffix="Test.php">./tests/</directory>
			<exclude>
				<directory>./tests/vendor</directory>
			</exclude>
		</testsuite>
	</testsuites>
</phpunit>
